<div class="container">
  <h1>Upload Blood Sugar Level CSV</h1>

  <div class="row">
    <%= render 'form', blood_sugar_level: @blood_sugar_level %>
  </div>
  <br>
  <div class="row">
    <%= link_to 'Back', blood_sugar_levels_path %>
  </div>
</div>