// Place all the styles related to the BloodSugarLevels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice {
  text-align: center;
  padding: 32px 0 16px 0;
  color: green;
  font-size: 18px;
}

.bsl-actions {
  margin: 16px 0 32px 0;
}